body{
    display: flex;
}
table,th,td{
    border: 1px solid;
}
table{
    margin: auto;

}
td{
    background-color:#808080;
    height: 110px;
    width: 150px;
}
#delete_button{
    display: none;
}